@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/Header.module.css */

html,
body {
  font-family: 'Poppins', sans-serif;
}

.text-shadow-black {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Change the rgba values to adjust the shadow color */
}

.sky-blue-square {
  display: inline-block;
  width: 8px; /* Adjust width as needed */
  height: 8px; /* Adjust height as needed */
  background-color: rgb(14 165 233); /* Change color as needed */
  margin-right: 8px; /* Adjust margin as needed */
  vertical-align: middle; /* Center vertically */
}


